# Exercises for Lab 03 <font color=blue>Version 0.5 Alpha </font>

## Functions used for Tables:
Just like in Lab 02 Exercises, the bulk of this first part is to provide a reference for the functions you'll use. The tables here are taken from the datascience module, so all these table functions can only work if you import datascience (see the first line of code after this).

Remember that in a given table, lists make up the rows and arrays make up columns. Additionally, tables have separate indexes for rows and columns. An index of 0 could refer to the first column or first row (the header row is not given an index) depending on the function. However, if you're typing `existingTable[index]`, it will go for columns, not rows.

### Functions
|Purpose|Function|
|--|--|
|Creating a New Table (from arrays)|`newTable = Table().with_columns(columnHeader1, array1, columnHeader2, array2, [etc, etc])` (it's much recommended to make a table from |
|Creating a New Table (from .csv file)|`newTable = Table.read_table('fileName')`|
|Revealing the full table|`existingTable.show(numberOfRows)` use empty parentheses if you want all rows|
|Restricting a Table to certain parameters|`existingTable.where(columnHeader, are.condition(parameter))` (check below for conditions)|
|Selecting  row in Table format|`existingTable.take(indexOfRow)`|
|Selecting a column in Table format|`existingTable.select('columnHeader1' OR indexOfColumn1, 'columnHeader2' OR indexOfColumn2, [etc, etc])` OR `existingTable[indexOfColumn]`
|Selecting a column in array format|`existingTable.column('columnHeader1' OR indexOfColumn1, 'columnHeader2' OR indexOfColumn2, [etc, etc])`|
|Adding one row to a Table|`existingTable = existingTable.with_row(newRowAsList1, newRowAsList2, [etc, etc])`|
|Adding one column to a Table|`existingTable = existingTable.with_column(columnHeader1, array1, columnHeader2, array2, [etc, etc])`|
|Adding multiple rows to a Table|`existingTable = existingTable.with_rows(newRowAsList1, newRowAsList2, [etc, etc])`|
|Adding multiple columns to a Table|`existingTable = existingTable.with_columns(columnHeader1, array1, columnHeader2, array2, [etc, etc])`|
|Sorting the rows|`existingTable.sort(columnHeader, descending = True/False)` (descending is automatically set to false; put it to True if you want highest values first)|
|Getting the number of rows/columns|`existingTable.num_rows` OR `existingTable.num_columns`|

### Conditions
|Purpose|Function (in np.where)|
|--|--|
|where target values are equal to the parameter|`existingTable.where(columnHeader, are.equal_to(parameter))` OR `existingTable.where(columnHeader, parameter)`|
|where target values are NOT equal to the parameter|`existingTable.where(columnHeader, are.not_equal_to(parameter))`|
|where target values are less than the parameter|`existingTable.where(columnHeader, are.below(parameter))`|
|where target values are more than the parameter|`existingTable.where(columnHeader, are.above(parameter))`|
|where target values are between two parameters|`existingTable.where(columnHeader, are.between(parameter1, parameter2))` (this includes values equal to parameter1, but NOT those equal to parameter2)|
|where target values contain the parameter|`existingTable.where(columnHeader, are.containing(parameter))`|

One key detail is that you need to keep track of indexes. Taking the index of a table once gives you a column, and taking the index twice gives you a cell. For example, `existingTable[5][2]` goes to the table's 6th column (remember, indexes start counting at 0, not 1) and gets the cell of that column that is in the 3rd row.

You can go ahead and experiment with these functions. Or not, It doesn't really matter. ¯\_(ツ)_/¯

## Exercise 1: 
I do want to revive the error puzzles I had in the Lab 00 Exercises. Not only are tables by far the most used dataset format in this course, they are also terribly meticulous. It's best that you get a taste of this bitter future before you pound your desk into sawdust or something of similar magnitude.

Not every necessary piece of context is shown in the code. You'll have to play around with it a bit to really see what you're dealing with, especially what the tables themselves look like. Feel free to create and manipulate new code and new cells as you solve these. 

The main objective beyond doing these is to try to understand *what* the code is trying to do. I'm mimicking typical procedures done in data exploration, especially those you'll very likely do later on in the mini project and final project. (The content from labs 4 and 5 is omitted though, so this is still very limited in scope.)

In [ ]:
import numpy as np # this is just to get the tables working
from datascience import *

1.1:

In [ ]:
imdb = Table().read_table('imdb.csv')
imdb.select('Title', 'year')

1.2:

In [ ]:
pops = Table().read_table('world_population.csv')
pop_years = pops.append('Year', np.arange(1950, 2016)

1.3:

In [ ]:
farmers_markets = Table().read_table('farmers_markets.csv')
cheeses = farmers_markets.where('Cheese', 'Y')
cheese_west = cheeses.sort('x')[0]
cheese_east = cheeses.sort('x', descending=True)[0]
cheese_east-cheese_west # this output is not what I want.
# I want to calculate the geographical range (east-west distance) over which farmers' markets that sell cheese are spread. 
# Fix the code to make it give that value.

## Exercise 2:
A crucial part of data science is being able to translate abstract questions into code lines that will give you the answer to the question. This type of translation is akin to mathematical calculations or finding a route to drive to a certain place. You've already seen such questions in the lab itself, but given how important they are to your projects, you will need plenty more practice for this.

### World Populations
These questions regard the dataset 'world_populations.csv'. I've done some prep work below to include the years.

In [ ]:
pops = Table().read_table('world_population.csv')
pops = pops.with_column('Year', np.arange(1950, 2016))
pops

2.1: How many years did the world spend with a population between 4 and 5 billion?

2.2: Has the world population grown a larger amount from 1950 to 2000 or from 2000 to 2016? By how much are these amounts different?

### Farmers Markets
These questions regard the dataset 'farmers_markets.csv'.

In [ ]:
farmers_markets = Table().read_table('farmers_markets.csv')
farmers_markets

2.3: What percentage of these markets have 'Farmers' in their name?

2.4: What markets lie within 1 degree, latitude and longitude, of the Temple University's SERC building (the coordinates are -75.153, 39.982)? For reference, one degree of latitude/longitude is equal to 69 miles. (nice)

## Exercise 3:
code time! follow the instructions below.

Refer to atomic symbol 64 for the morse code (MC). dashes are lowest first, dots are highest first.

1. create a table with code0 as a column of heading 'a'. (this has been done for you.)
2. sort the a column, MC1
3. add code1 of heading 'b'.
4. sort the b column, MC2
5. add code2 of heading 'c'.
6. sort the c column, MC3
7. add code3 of heading 'd'.
8. sort the d column, MC4
9. add code4 of heading 'e'.
10. sort the e column, MC5
11. add code5 of heading 'f'.
12. sort the f column, MC6
13. add the rest of the codes, continuing the pattern of headings
14. sort by column j
15. add sorbet as an extra row (NOT column!)
16. read the rows.

A hint!
DISCOVERER

In [ ]:
code0 = make_array(2, 13, 8, 4, 15) # your magnificent arrays, ready for appending.
code1 = make_array(18, 5, 9, 15, 5)
code2 = make_array(12, 18, 19, 19, 1)
code3 = make_array(9, 1, 19, 18, 14)
code4 = make_array(14, 14, 4, 9, 20)
code5 = make_array(5, 4, 7, 15, 0)
code6 = make_array(0, 5, 4, 0, 0)
code7 = make_array(0, 18, 5, 0, 0)
code8 = make_array(0, 0, 18, 0, 0)
code9 = make_array('d', 'c', 'b', 'e', 'a')
sorbet = [19, 21, 3, 3, 5, 19, 19, 15, 18, 0]

In [ ]:
code = Table().with_column('a', code0)

In [ ]:
code = code.sort('a',...)

If you're crazy enough to have followed me through this ordeal, place your code here.